| Property | Type | Required | Description | Example |
| --- | --- | --- | --- | --- |
{% for field in fields %}| `{{ field.name }}` | `{{ field.type }}` | {{ "Yes" if field.required else "No" }} | {{ field.description }} | `{{ field.example }}` |
{% endfor %}
