# {{ title }}

{{ overview }}

{% for section in sections %}
## {{ section.heading }}

{{ section.body }}

{% if section.table %}
{{ section.table }}
{% endif %}

{% if section.code %}
```{{ section.code.lang }}
{{ section.code.body }}
```
{% endif %}

{% if section.note %}
!!! note
    {{ section.note }}
{% endif %}

{% if section.warning %}
!!! warning
    {{ section.warning }}
{% endif %}

{% endfor %}

{% if references %}
## References

{% for r in references %}
- [{{ r.label }}]({{ r.url }})
{% endfor %}
{% endif %}
