# {{ title }}

!!! abstract "Goal"
    {{ goal }}

{% if prerequisites %}
## Prerequisites

{{ prerequisites }}
{% endif %}

{% for recipe in recipes %}
## {{ recipe.heading }}

{{ recipe.body }}

{% if recipe.steps %}
{% for s in recipe.steps %}
**{{ loop.index }}.** {{ s }}

{% endfor %}
{% endif %}

{% if recipe.code %}
=== "cURL"

    ```bash
    {{ recipe.code.curl | indent(4) }}
    ```

=== "Python (Requests)"

    ```python
    {{ recipe.code.python | indent(4) }}
    ```

=== "JavaScript (Octokit)"

    ```javascript
    {{ recipe.code.javascript | indent(4) }}
    ```
{% endif %}

{% if recipe.response %}
**Response**

```json
{{ recipe.response | indent(4) }}
```
{% endif %}

{% if recipe.warning %}
!!! warning
    {{ recipe.warning }}
{% endif %}

---

{% endfor %}

{% if related %}
## Related Reference Pages

{% for r in related %}
- [{{ r.label }}]({{ r.url }})
{% endfor %}
{% endif %}
