# {{ title }}

!!! info "Learning Objective"
    {{ objective }}

{% if prerequisites %}
## Prerequisites

{{ prerequisites }}
{% endif %}

{% for step in steps %}
## Step {{ loop.index }}: {{ step.heading }}

{{ step.body }}

{% if step.code %}
=== "cURL"

    ```bash
    {{ step.code.curl | indent(4) }}
    ```

=== "Python (Requests)"

    ```python
    {{ step.code.python | indent(4) }}
    ```

=== "JavaScript (Octokit)"

    ```javascript
    {{ step.code.javascript | indent(4) }}
    ```
{% endif %}

{% if step.response %}
**Expected Response**

```json
{{ step.response | indent(4) }}
```
{% endif %}

{% if step.note %}
!!! note
    {{ step.note }}
{% endif %}

{% endfor %}

{% if next_steps %}
## Next Steps

{{ next_steps }}
{% endif %}
